/* Styling */
@import "normalize";
@import "weatherfonts";

// Minimal initial style of sidebar


.drawer {
  left: 0;
}
.toggle-drawer {
  display: block;
  width: 100%;
  padding: 5px 25px;
  background-color: #c0ffee;
  margin-left: -29px;
}
a {
  text-decoration: none;
}
ul {
  //list-style-type: ;
  margin-top: 60px; 
}
ul > li  {
  line-height: 1.5em;
}
  

div h1 {
  font-size: 2.5em;
  margin-left: 25px;
  padding-bottom: 100px;
  padding-left: 20px;
  color: white;
  letter-spacing: 1.6px;
  
}


div {
  
  background-color: #0fd299;
  width: 100%;
  
  
  
  
}
h1, ul, a, p  {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
}

#sidr {
  background: #c0ffee;
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100%;
  left: -270px;
  width: 270px;
  right: auto;
  // always on top
  z-index: 999999;
  overflow-x: hidden;
  overflow-y: auto;
  transition: left .25s;
    
  

}
ul {
  font-size: 1em;
  padding-top: 20px;
  
}
section {
  position: fixed;
  height: 400px;
  width: 100%;
  padding-left: 25px;
  
  
  
}




ul > li #city-1:hover {
  color: #f54545;
}
ul > li #city-2:hover {
  color: green;
}
ul > li #city-3:hover {
  color: #7272f7;
}
ul > li #city-4:hover {
  color: purple;
}
ul > li #city-5:hover {
  color: #efae38;
}
ul > li #city-6:hover {
  color: gray;
}
#one {
  background: #f54545;
}
// Section 2
#two {
  background: green;
}
// Section 3
#three {
  background: #7272f7;
}
#four {
  background: purple;
}
#five {
  background: #efae38;
}
#six {
  background: gray;
}
// :target Selection from Sidebar
:target {
  z-index: 1;
}




  
